{% extends "_layout.html" %}

{% block body %}
<!-- Main Content -->
<div class="container">

    <div class="row section fp-auto-height" id="goods-container">
        <!--
        <div class="col-md-12" id="goods-nav">

            <div>
                <a>{{good.type}}</a>&gt
                <a>{{good.title}}</a>
            </div>

        </div>-->
        <div class="col-md-6" style="text-align:center">
            <div class="goods-pics">
                        {% for in_pic in good.in_pic %}
                        <img src="{{in_pic}}" alt=""> 
                        {% endfor %}  
            </div>

                <ul class="goods-pics-pointer">
                        {% for in_pic in good.in_pic %}
                            <li></li>
                        {% endfor %}
                </ul>
        </div>
        <div class="col-md-6" id="good-info-block">
            <h3>{{good.title}}</h3>
            <h4>{{good.subtitle}}</h4>
            <hr>
            <p>{{good.description}}</p>
            <div class="row good-input">
                <div class="col-md-6">PRICE</div>
                <div class="col-md-6 price-format">$ {{good.price}}</div>
            </div>
            <div class="row good-input">
                <div class="col-md-6">MATERIAL</div>
                <div class="col-md-6">
                    <ul class="color-list">
                        {% for color in good.color %}
                        <li style="background:{{color}}" data-color="{{color}}"></li> 
                        {% endfor %}                
                    </ul>
                </div>
            </div>
            <div class="row good-input">
                <div class="col-md-6">QUANTITY</div>
                <div class="col-md-6"><input  style="width:100px;" data_max="{{good.whole}}" value="0" data_step="1"  data_digit="0" id="quantity"/></div>
            </div>
            <div class="row good-input" id="add-cart-box">
                <input type="hidden" value="{{ ctx.csrf | safe }}" id="_csrf">
                <button id="add-to-cart" data-good="{{good.id}}">ADD TO CART</button>
            </div>

        </div>
    </div>

{{good.content | safe}}


<p style="text-align:center"><strong><span style="font-size:14px"><span style="font-family:Verdana,Geneva,sans-serif">配送与退换</span></span></strong></p>

<p style="text-align:center"><span style="font-size:12px"><span style="font-family:Verdana,Geneva,sans-serif">
在DEFRONT网站的线上交易均提供中国大陆境内的免费邮递。在发货之后的七天内若寄出的产品出现质量问题，顾客可凭相应订单详情协议退换货。<br />
<u><a href="/return">[查看详情]</a></u></span></span></p>


</div>

{% endblock %}

{% block script %}

<script src="/public/js/number-input.js"></script>

<script>

function isLogin(cb){
                    $.ajax({
                        url:'/user/islogin',
                        type:'GET', //GET
                        async:false,    //或false,是否异步
                        timeout:300,    //超时时间
                        dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                        beforeSend:function(xhr){
                            // console.log(xhr)
                            // console.log('发送前')
                        },
                        success:function(data){
                            cb(data);
                        }
                    });
                }

    $('.goods-pics-pointer li').eq(0).addClass('hover')

	$(function(){
			var $li = $('.goods-pics-pointer li');
			var $pics = $('.goods-pics img');
						
			$li.mouseover(function(){
				var $this = $(this);
				var $t = $this.index();
				$pics.css('display','none');
			    $pics.eq($t).css('display','block');
                $this.addClass('hover').siblings().removeClass('hover')
			})

				$pics.css('display','none');
				$pics.eq(0).css('display','block');

                $('.color-list li').on('click',function(){
                    $(this).siblings().removeClass('select-current');
                    $(this).addClass('select-current');
                })

                $(document).delegate('#add-to-cart','click',function(){
                    
                    isLogin(function(data){
                        if(!data.login || data.login === false){
                             layer.open({
                                title: false,
                                type: 1,
                                shadeClose: true,
                                closeBtn:1,
                                shade: 0.8,
                                area:['353px','379px'],
                                content: loginContent,
                                success: function(layero, i){
                                    // console.log(index);
                                },
                                end: function(layero, i){
                                }
                            }); 
                        }else{

                    var quantity = $('#quantity').val();
                    var material = $('.color-list li.select-current').attr('data-color');
                    if(quantity === '0'){
                        alert('请选择数量');
                        return
                    }
                    if(material === undefined){
                        alert('请选择颜色');
                        return 
                    }
                    $.ajax({
                        url:'/cart',
                        type:'POST', //GET
                        async:false,    //或false,是否异步
                        data:{
                            goods_id:$('#add-to-cart').attr('data-good'),
                            quantity:quantity,
                            material:material,
                            _csrf:$('#_csrf').val()
                        },
                        timeout:300,    //超时时间
                        dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                        beforeSend:function(xhr){
                            // console.log(xhr)
                            // console.log('发送前')
                        },
                        success:function(data){
                            if(data.success ===false){
                                alert('添加失败,请登录');
                            }else{
                                alert('添加成功');
                            }
                        }
                    });

                        }
                    });
                });
	});
</script>
{% endblock %}

