{% extends "_layout.html" %}

{% block body %}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-md-12" id="job_title">
            <h3>&nbsp</h3>
        </div>

        <div class="col-md-12">
            <ul class="jobs tab" id="job_tab">
                <Li class="current">ALL</Li>
                <Li>DESIGN</Li>
                <Li>BRAND</Li>
                <Li>RESEARCH</Li>
                <Li>BUSINESS</Li>
            </ul>
        </div>

        <div class="col-md-12">

            <div style="height:auto; overflow:hidden" id="job_content" class="tab_content">
                <ul style="display:block; height:auto; overflow:hidden">

                    {% for jobs in all%}

                        <li>
                            <div class="list_jobs">
                                <table style="margin:0 auto; width:95%;">
                                    <tr>
                                        <td colspan="2" style="height:20px"></td>
                                    </tr>
                                    <tr>
                                        <td align="left">{{jobs.title}}</td>
                                        <td width="180" align="right"><a href="#" onClick="showdetail({{jobs.id}});" class="more">Detail</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="height:20px"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="line-height:30px; text-align:left; font-size:12px">{{jobs.content | safe}}</td>
                                    </tr>
                                </table>
                            </div>
                        </li>

                    {% endfor %}
                </ul>
                <ul>

                    {% for jobs in design %}
                        <li>
                            <div class="list_jobs">
                                <table style="margin:0 auto; width:95%;">
                                    <tr>
                                        <td colspan="2" style="height:20px"></td>
                                    </tr>
                                    <tr>
                                        <td align="left">{{jobs.title}}</td>
                                        <td width="180" align="right"><a href="#" onClick="showdetail({{jobs.id}});" class="more">Detail</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="height:20px"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="line-height:30px; text-align:left; font-size:12px">{{jobs.content | safe}}</td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <ul>

                    {% for jobs in brand %}
                        <li>
                            <div class="list_jobs">
                                <table style="margin:0 auto; width:95%;">
                                    <tr>
                                        <td colspan="2" style="height:20px"></td>
                                    </tr>
                                    <tr>
                                        <td align="left">{{jobs.title}}</td>
                                        <td width="180" align="right"><a href="#" onClick="showdetail({{jobs.id}});" class="more">Detail</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="height:20px"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="line-height:30px; text-align:left; font-size:12px">{{jobs.content | safe}}</td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <ul>


                    {% for jobs in research %}
                        <li>
                            <div class="list_jobs">
                                <table style="margin:0 auto; width:95%;">
                                    <tr>
                                        <td colspan="2" style="height:20px"></td>
                                    </tr>
                                    <tr>
                                        <td align="left">{{jobs.title}}</td>
                                        <td width="180" align="right"><a href="#" onClick="showdetail({{jobs.id}});" class="more">Detail</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="height:20px"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="line-height:30px; text-align:left; font-size:12px">{{jobs.content | safe}}</td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
                <ul>
                    {% for jobs in business %}

                        <li>
                            <div class="list_jobs">
                                <table style="margin:0 auto; width:95%;">
                                    <tr>
                                        <td colspan="2" style="height:20px"></td>
                                    </tr>
                                    <tr>
                                        <td align="left">{{jobs.title}}</td>
                                        <td width="180" align="right"><a href="#" onClick="showdetail({{jobs.id}});" class="more">Detail</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="height:20px"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="line-height:30px; text-align:left; font-size:12px">{{jobs.content | safe}}</td>
                                    </tr>
                                </table>
                            </div>
                        </li>

                    {% endfor %}


                </ul>
            </div>
        </div>
    </div>

{% for jobs in all %}
<textarea name="" id="jobs_{{jobs.id}}" cols="30" rows="10" style="display:none">
{{jobs.content}}
</textarea>
{% endfor %}

{% endblock %}

{% block script %}

<script type="text/javascript" src="/public/js/plugins/layer.js"></script>

<script>

var jobs = [];

</script>
<script>

  function showdetail(id){
	  
    layer.open({
            title: false,
            type: 1,
            shadeClose: true,
            closeBtn:1,
            shade: 0.8,
            area:['760px','460px'],
            content: $('#jobs_'+id).val()
        }); 

  }


</script>

<script>

	$(function(){
			var $li = $('#job_tab li');
			var $ul = $('#job_content ul');
						
			$li.mouseover(function(){
				var $this = $(this);
				var $t = $this.index();
				$li.removeClass();
				$this.addClass('current');
				$ul.css('display','none');
				$ul.eq($t).css('display','block');
			})



	});

</script>
{% endblock %}


