{% extends "_layout.html" %}

{% block body %}
<!-- Main Content -->
<div class="container news-container">
    <div class="row section fp-auto-height">
        <div class="col-md-12">
            {% for new in articles %}
            <div class="media news">
                <a class="media-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="{{new.m_pic}}"
                        data-holder-rendered="true">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{new.title}}</h4>
                    <h5 class="media-heading">{{new.timestamp}}</h5>
                    <p>{{new.desc}}</p>

                </div>
            </div>
            {% endfor %}
            {% block page %}{% include "component/pager.html" %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
