{% extends "_layout.html" %}

{% block body %}
<!-- Main Content -->
<div class="container">

        <div class="menu_project">
             <ul>
                <li><a href="">ALL</a></li>
                <li><a href="">WEAR</a></li>
                <li><a href="">EAT</a></li>
                <li><a href="">LIVE</a></li>
                <li><a href="">TRAVEL</a></li>
             </ul>
         </div>

    <div id="project-list">

        <div class="row">
            <div class="col-md-4">
                <img data-src="holder.js/140x140" class="img" alt="140x140" src="http://www.de-front.com/upload/20161104/09471965680.jpg" data-holder-rendered="true">
            </div>
            <div class="col-md-4">
                <img data-src="holder.js/140x140" class="img" alt="140x140" src="http://www.de-front.com/upload/20161104/09471965680.jpg" data-holder-rendered="true">
            </div>
            <div class="col-md-4">
                <img data-src="holder.js/140x140" class="img" alt="140x140" src="http://www.de-front.com/upload/20161104/09471965680.jpg" data-holder-rendered="true">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img data-src="holder.js/140x140" class="img" alt="140x140" src="http://www.de-front.com/upload/20161104/09471965680.jpg" data-holder-rendered="true">
            </div>
            <div class="col-md-4">
                <img data-src="holder.js/140x140" class="img" alt="140x140" src="http://www.de-front.com/upload/20161104/09471965680.jpg" data-holder-rendered="true">
            </div>
            <div class="col-md-4">
                <img data-src="holder.js/140x140" class="img" alt="140x140" src="http://www.de-front.com/upload/20161104/09471965680.jpg" data-holder-rendered="true">
            </div>
        </div>

    </div>
</div>
{% endblock %}
