{% extends "_layout.html" %}

{% block body %}
<!-- Main Content -->
<div class="container" style="width:900px">
    <div class="row section fp-auto-height">
        <div class="col-md-12 privacy-text">

            <h3>What is your return policy? How many days do I have to return a product?</h3>
            <p>For online purchases, DEFRONT will accept merchandise in its original condition for a refund of the purchase price when accompanied by the original invoice. Since DEFRONT provide various kinds of merchandise, each merchandise will have a different policy for returning. Before sending back your purchase, please make sure to contact customer service first for the details of return policy for specific merchandise.</p>
            <p>Merchandise that has been worn, used, altered or damaged will not be accepted. </p>
            <p>Merchandise returned to DEFRONT will be processed within 7-10 business days of receipt. A confirmation email will be sent once your account has been credited. Refunds may only be issued in the same form as was utilized for payment. Please note the original shipping charges incurred at the time of purchase are non-refundable.</p>
            <h3>How do I return an item?</h3>
            <p>Please contact our customer service before you return, our customer service will tell you the return address and parcel number of suggestions. DEFRONT will not assume responsibility for reimbursement or compensation in the event that return packages are lost, stolen, mishandled, or damaged.</p>        
            <h3>How long does it take for a refund to be issued?</h3>
            <p>Merchandise returned to DEFRONT will be processed within 7-10 business days of receipt. A confirmation email will be sent once your account has been credited. Refunds may only be issued to the form of payment that was utilized for the purchase. For Visa and Mastercard, we will reimburse the card used. Please note the original shipping charges incurred at the time of purchase are non-refundable.</p>
            
            <h3>Are delivery charges refundable?</h3>
            <p>Original shipping charges incurred at the time of purchase are non-refundable.</p>

            <h3>How do you exchange an item with DEFRONT?</h3>
            <p>DEFRONT cannot accommodate automatic exchanges at this time. In order to exchange an item, please contact our customer service. We are happy to answer your questions.</p>
            <h3>Can I exchange or return an item gifted to me by someone else?</h3>
            <p>Gift items purchased on DEFRONT may be returned. However, refunds may only be issued to the same credit card used for original payment.
Unfortunately, we are not able to accommodate automatic exchanges at this time. Please contact us.
</p>
        </div>
    </div>
</div>

{% block footer %}

    <div class="footer">
        <img src="/public/images/footer.jpg" alt="">
        <div class="footer-privacy">
            <a href="/privacy">PRIVACY POLICY</a>
            <a href="/return">RETURN AND EXCHANGE</a>
        </div>
    </div>


{% endblock %}

{% endblock %}

