{% extends "_layout.html" %}

{% block body %}
<!-- Main Content -->
<div class="container" style="width:900px">
    <div class="row section fp-auto-height">
        <div class="col-md-12 privacy-text">

            <h3>
订单退换货时效是多久？</h3>
            <p>自首次订单签收次日起7日内可以退货，15日内可以换货（以快递公司的送货单上的签收日期为准）。</p>
            <h3>退货政策是什么？在几天以内可以退货？</h3>
            <p>在DEFRONT网站的线上交易中，在发货之后的七天内若寄出的产品出现质量问题，顾客可凭相应订单详情协议退换货。由于涉及具体商品的退货政策有所不同，要求退货时及时联系网站客服以协商。</p>        
            <h3>出现哪些情形时不予退货？ </h3>
            <p>1.任何非DEFRONT官网出售的商品； </p>
            <p>2.已经超过七天期限的商品；  </p>
            <p>3.未经授权的维修、误用、碰撞、疏忽、滥用、进液、事故、改动、不正确的安装所造成的商品质量问题，或留下使用痕迹，或撕毁、涂改标贴；  </p>
            <p>4.无法提供商品的发票（如已索要发票）、保修卡等三包凭证或者三包凭证信息与商品不符及被涂改的；</p>
            <p>5.其他依法不应办理退换货的（详见各类商品退货细则）。 若在无告知的情况下自行寄出，网站有权拒绝退款。</p>            
            <h3>退货运费由谁承担？ </h3>
            <p>1.因商品质量问题产生的退货，退货运费由DEFRONT承担，需要您先行垫付，退款后联系客服退运费； </p>
            <p>2.因您个人原因产生的退货，购买时产生的运费及退货运费由您个人承担。</p>
            <h3>需多久收到退款？</h3>
            <p>退款将在收到退货7-10工作日内返回顾客原支付账户。</p>
            <h3>如何退换商品？</h3>
            <p>请顾客联系网站客服协商具体退款事宜以及告知收件地址与联系信息。在退货过程中出现的丢件，损件，错件，恕不接受退款退换。
</p>
        </div>
    </div>
</div>

{% block footer %}

    <div class="footer">
        <img src="/public/images/footer.jpg" alt="">
        <div class="footer-privacy">
            <a href="/privacy">PRIVACY POLICY</a>
            <a href="/return">RETURN AND EXCHANGE</a>
        </div>
    </div>


{% endblock %}

{% endblock %}

